package-db: /vagrant/haskell/Git/cabal-dev/packages-7.0.3.conf
local-repo: /vagrant/haskell/Git/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/vagrant/.cabal/packages
world-file: /home/vagrant/.cabal/world
build-summary: /vagrant/haskell/Git/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /vagrant/haskell/Git/cabal-dev/
install-dirs global
  prefix: /vagrant/haskell/Git/cabal-dev/